*
!.gitignore

!README*
!*.md
!LICENSE
!*.nimble
!*nim.cfg
!/src
!/src/csfml*.nim
!/src/csfml
!/src/csfml/*.nim
!/src/csfml/private
!/src/csfml/private/*.nim
!/generate
!/generate/*.py
!/generate/*.sh
!/examples
!/examples/*.nim
!/examples/resources
!/examples/resources/*
